@using System.Security.Claims

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Scheduling.styles.css" asp-append-version="true" />

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/css/datatables.min.css" asp-append-version="true" />

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css" />

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="~/lib/flatpickr/css/flatpickr.min.css" />
    <script>
        // (function () {
        //   const theme = localStorage.getItem('theme') || 'auto';
        //   const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        //   const resolved = theme === 'auto' ? (prefersDark ? 'dark' : 'light') : theme;
        //   document.documentElement.setAttribute('data-bs-theme', resolved);
        // })();
    </script>
</head>
<body class="bg-body-secondary text-body">
    @{
        var routeData = ViewContext.RouteData.Values;
        var controller = routeData["controller"]?.ToString();
        var action = routeData["action"]?.ToString();
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-body-tertiary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Schedule" asp-action="Index"><i class="bi bi-calendar-week"></i> SCH</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @foreach (var module in _template.GetUserTemplate())
                        {
                            if (module.Pages.Count > 1)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="@(module.Module_name)DropdownMenu">
                                        @module.Module_name
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="@(module.Module_name)DropdownMenu">
                                        @foreach (var templatePage in module.Pages)
                                        {
                                            <li><a asp-controller="@templatePage.Controller_name" asp-action="@templatePage.Action_name" class="dropdown-item">@templatePage.Page_name</a></li>
                                        }
                                    </ul>
                                </li>
                            } else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="@module.Pages.First().Controller_name" asp-action="@module.Pages.First().Action_name">@module.Pages.First().Page_name</a>
                                </li>
                            }
                        }
                    </ul>

                    @if (_template.HasPermission("Department Leaves"))
                    {
                        <a class="btn btn-sm btn-outline-primary me-4" asp-controller="Leave" asp-action="DepartmentLeaves" type="button" title="Go to Leave requests">
                            Leave Requests <span class="badge bg-secondary" id="requestCount">0</span>
                        </a>
                    }

                    <ul class="navbar-nav navbar-right">
                        @* <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="bd-theme" data-bs-toggle="dropdown" data-bs-display="static">
                                <i id="bd-theme-icon" class="bi"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text" data-bs-popper="static">
                                <li>
                                    <a class="dropdown-item" id="light" data-bs-theme-value="light">
                                        <i class="bi bi-sun-fill"></i> Light
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="dark" data-bs-theme-value="dark">
                                        <i class="bi bi-moon-stars-fill"></i> Dark
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="auto" data-bs-theme-value="auto">
                                        <i class="bi bi-circle-half"></i> Auto
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <div class="vr mx-2"></div> *@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown" id="notifDropdown">
                                <a class="nav-link position-relative me-2 p-1" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" id="notification">
                                    <i class="fs-5 bi bi-bell-fill"></i>
                                    <div id="notificationCount" hidden>
                                        <span class="position-absolute bottom-50 start-50 p-2 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="notification" style="min-width:350px;max-width:370px;" id="notificationList">
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="userDropdownMenu">
                                    @User.FindFirstValue(ClaimTypes.GivenName)
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownMenu">
                                    <li><a class="dropdown-item @(User.FindFirstValue("ChangePassword") == "true" ? "" : "disabled")" data-bs-toggle="modal" data-bs-target="#changePassModal"><i class="bi bi-person-fill-gear"></i> Change password</a></li>
                                    <li><a asp-controller="Access" asp-action="Logout" class="dropdown-item"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Access" asp-action="Login" role="button"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @* <div class="container"> *@
        <main role="main">
            @RenderBody()
        </main>
    @* </div> *@

    <div class="modal fade" id="changePassModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h4 class="modal-title"><i class="bi bi-gear"></i> Change Password</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <form asp-controller="User" asp-action="ChangePassword" method="post" id="passwordForm">
                    <div class="modal-body border-0">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Note:</strong> Updating your password in schedule web app will also update your dailychecklist web app password, as both use the same account credentials.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="form-group mb-3">
                            <label for="currentpass" class="control-label">Current password</label><span class="text-danger" rel="tooltip" data-bs-placement="right" title="Required"> *</span>
                            <input type="password" name="currentpass" class="form-control" id="currentpass" data-val="true" data-val-required="The Current password field is required." required />
                            <span id="wrongpass" class="text-danger"></span>
                            <span class="text-danger field-validation-valid" data-valmsg-for="currentpass" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="newpass" class="control-label">New password</label><span class="text-danger" rel="tooltip" data-bs-placement="right" title="Required"> *</span>
                            <input type="password" name="newpass" class="form-control" id="newpass" data-val="true" data-val-required="The New password field is required." required />
                            <span class="text-danger field-validation-valid" data-valmsg-for="newpass" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="confirmpass" class="control-label">Confirm password</label><span class="text-danger" rel="tooltip" data-bs-placement="right" title="Required"> *</span>
                            <input type="password" name="confirmpass" class="form-control" id="confirmpass" data-val="true" data-val-required="The Confirm password field is required." required />
                            <span id="passErrorMessage" class="text-danger"></span>
                            <span class="text-danger field-validation-valid" data-valmsg-for="confirmpass" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" class="btn btn-primary shadow">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* <div class="position-fixed end-0 bottom-0 me-4 mb-4" style="z-index:10;">
        <div class="row">
            <div class="col align-self-end">
                <div class="text-bg-info rounded-circle text-center" style="height:50px; width:50px;" title="Help us improve the webapp">
                    <a href="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" class="text-white"><i class="bi bi-chat-dots fs-2"></i></a>
                </div>
            </div>
            <div class="col px-0">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                    <div class="card card-body" style="width: 350px;">
                        <strong> Help us improve the Schedule web app! </strong>
                        <a href="https://forms.gle/UruKU9ALc2aDKq8F7" target="_blank" class="text-decoration-underline fw-bold stretched-link">Fill out the feedback form</a>
                        <small>(You can submit anonymously.)</small>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

    <input id="haserror" value="@(TempData["passerror"] != null ? TempData["passerror"] : "")" hidden />
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Data Tables -->
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>

    <!-- Flatpickr JS -->
    <script src="~/lib/flatpickr/js/flatpickr.js"></script>

    <script>
        $(document).ready(function () {
            let tempMessage = '@TempData["toastMessage"]';

            if (tempMessage && tempMessage !== 'null') {
                let [message, type] = tempMessage.split("-");
                showToast(message, type || "success");
            }
        });

        // document.addEventListener('DOMContentLoaded', () => {
        //     const themeToggle = document.querySelectorAll('[data-bs-theme-value]');
        //     const themeIcon = document.querySelector('#bd-theme i');
        //     const themeStorageKey = 'theme';
        //     const storedTheme = localStorage.getItem(themeStorageKey) || 'auto';

        //     Set the data-bs-theme attribute to the stored or default theme
        //     document.documentElement.setAttribute('data-bs-theme', storedTheme);

        //     Helper to update active class and icon
        //     function updateActiveTheme(theme) {
        //         themeToggle.forEach(btn => {
        //             btn.classList.remove('active');
        //             if (btn.getAttribute('data-bs-theme-value') === theme) {
        //                 btn.classList.add('active');
        //             }
        //         });

        //         Update icon
        //         const icons = {
        //             light: 'bi-sun-fill',
        //             dark: 'bi-moon-stars-fill',
        //             auto: 'bi-circle-half'
        //         };
        //         themeIcon.className = `bi ${icons[theme]}`;
        //     }

        //     updateActiveTheme(storedTheme);

        //     Handle theme change
        //     themeToggle.forEach(btn => {
        //         btn.addEventListener('click', () => {
        //             const selectedTheme = btn.getAttribute('data-bs-theme-value');
        //             localStorage.setItem(themeStorageKey, selectedTheme);
        //             document.documentElement.setAttribute('data-bs-theme', selectedTheme);
        //             updateActiveTheme(selectedTheme);
        //         });
        //     });
        // });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
