@model Leave

@{
    ViewData["Title"] = "Departmental Leaves";

    var leaves = ViewBag.Leaves as List<Leave> ?? new List<Leave>();

    // Permissions
    var canSelectDept = _template.HasPermission("DeptSelect");
    var canApprove = _template.HasPermission("ApproveLeave");
    var canDeny = _template.HasPermission("DenyLeave");
    var isFirstApprover = _template.HasPermission("FirstApprover");
    var isFinalApprover = _template.HasPermission("FinalApprover");
}

<div class="container">
    <h1 class="mb-3">@ViewData["Title"]</h1>

    @if (canSelectDept)
    {
        <div class="row mb-3">
            <div class="col-auto">
                <form asp-action="DepartmentLeaves" id="changeDepartment">
                    <select name="departmentId" id="departmentId" class="form-select" asp-items="ViewBag.Departments">
                        <option value="0">All Departments</option>
                    </select>
                </form>
            </div>
        </div>
    }

    <ul class="nav nav-tabs leavesTab" id="leavesTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-5" id="pending" data-bs-toggle="tab" data-bs-target="#content-1" role="tab" aria-controls="0">Requests</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-5" id="approved" data-bs-toggle="tab" data-bs-target="#content-2" role="tab" aria-controls="1">Approved</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-5" id="denied" data-bs-toggle="tab" data-bs-target="#content-3" role="tab" aria-controls="2">Denied</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-5" id="withdrawn" data-bs-toggle="tab" data-bs-target="#content-4" role="tab" aria-controls="3">Cancelled</button>
        </li>
    </ul>
    <div class="tab-content rounded-bottom p-3 bg-white shadow-sm">
        <div class="tab-pane" id="content-1" role="tabpanel" aria-labelledby="pending">
            <table class="table table-hover hasChild" id="pendingTable">
                <thead>
                    <tr>
                        <th></th> <!-- Control toggle -->
                        <th>
                            @Html.DisplayNameFor(model => model.User.Full_name)
                        </th>
                        <th class="text-nowrap">
                            @Html.DisplayNameFor(model => model.Date_start)
                        </th>
                        <th class="text-nowrap">
                            @Html.DisplayNameFor(model => model.Date_end)
                        </th>
                        <th class="text-nowrap">
                            @Html.DisplayNameFor(model => model.Leave_type.Leave_type_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Message)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th class="text-nowrap">
                            @Html.DisplayNameFor(model => model.Approver_1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_approved_1)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in leaves.Where(l => l.Status == "Pending"))
                    {
                        <tr>
                            <td></td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.User.Full_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_start_string)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_end_string)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Leave_type.Leave_type_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td class="td-control">
                                <span class="badge rounded-pill text-bg-warning">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </span>
                            </td>
                            <td class="td-control">
                                @if (item?.Approver_1 != null)
                                {
                                    <i class="bi bi-check-circle text-success"></i> @Html.DisplayFor(modelItem => item.Approver1.Full_name)
                                }
                            </td>
                            <td class="td-control">
                                @if (item?.Date_approved_1 != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Date_approved_1)
                                }
                            </td>
                            <td class="text-nowrap justify-content-center">
                                @if ((isFirstApprover && item?.Approver_1 == null) || (isFinalApprover && item?.Approver_1 != null && item?.Approver_2 == null))
                                {
                                    if (canApprove)
                                    {
                                        <a class="btn btn-sm btn-outline-success" asp-action="Approve" asp-route-id="@item?.Leave_ID" asp-route-departmentId="@(leaves.Select(l => l?.User?.Department_ID).Distinct().Count() > 1 ? "0" : item?.User?.Department_ID)">Approve</a>
                                    }
                                    if (canDeny)
                                    {
                                        <a class="btn btn-sm btn-outline-danger" href="javascript:void(0)" onclick="denyLeave(@item?.Leave_ID)">Deny</a>
                                    }
                                }
                                else if (isFirstApprover && item?.Approver_1 != null)
                                {
                                    <span class="text-secondary">Pending for final approval</span>
                                }
                                else if (isFinalApprover && item?.Approver_2 == null)
                                {
                                    <span class="text-secondary">Pending for manager's approval</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="content-2" role="tabpanel" aria-labelledby="approved">
            <table class="table table-hover hasChild" id="approvedTable">
                <thead>
                    <tr>
                        <th></th> <!-- Control toggle -->
                        <th>
                            @Html.DisplayNameFor(model => model.User.Full_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_start)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_end)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Leave_type.Leave_type_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Message)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Approver_1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_approved_1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Approver_2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_approved_2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                        <th class="text-nowrap justify-content-center">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in leaves.Where(l => l.Status == "Approved"))
                    {
                        <tr>
                            <td></td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.User.Full_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_start_string)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_end_string)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Leave_type.Leave_type_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td class="td-control">
                                <span class="badge rounded-pill text-bg-success">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </span>
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Approver1.Full_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_approved_1)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Approver2.Full_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_approved_2)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>
                                @if (isFinalApprover)
                                {
                                    <a class="btn btn-sm btn-warning" onclick="updateLeave(@item?.Leave_ID,@(leaves.Select(l => l?.User?.Department_ID).Distinct().Count() > 1 ? "0" : item?.User?.Department_ID))">Update</a>
                                    <a class="btn btn-sm btn-light border text-danger" onclick="cancelLeave(@item?.Leave_ID,@(leaves.Select(l => l?.User?.Department_ID).Distinct().Count() > 1 ? "0" : item?.User?.Department_ID))">Cancel</a>

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="content-3" role="tabpanel" aria-labelledby="denied">
            <table class="table table-hover hasChild" id="deniedTable">
                <thead>
                    <tr>
                        <th></th> <!-- Control toggle -->
                        <th>
                            @Html.DisplayNameFor(model => model.User.Full_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_start)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_end)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Leave_type.Leave_type_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Message)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            Denied by
                        </th>
                        <th>
                            Date denied
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in leaves.Where(l => l.Status == "Denied"))
                    {
                        <tr>
                            <td></td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.User.Full_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_start_string)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_end_string)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Leave_type.Leave_type_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td class="td-control">
                                <span class="badge rounded-pill text-bg-danger">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </span>
                            </td>
                            @if (item?.Approver_2 != null)
                            {
                                <td class="td-control">
                                    @Html.DisplayFor(modelItem => item.Approver2.Full_name)
                                </td>
                                <td class="td-control">
                                    @Html.DisplayFor(modelItem => item.Date_approved_2)
                                </td>
                            }
                            else if (item?.Approver_1 != null)
                            {
                                <td class="td-control">
                                    @Html.DisplayFor(modelItem => item.Approver1.Full_name)
                                </td>
                                <td class="td-control">
                                    @Html.DisplayFor(modelItem => item.Date_approved_1)
                                </td>
                            }
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="content-4" role="tabpanel" aria-labelledby="withdrawn">
            <table class="table table-hover hasChild" id="withdrawnTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.Full_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_start)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_end)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Leave_type.Leave_type_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Message)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in leaves.Where(l => l.Status == "Withdrawn"))
                    {
                        <tr>
                            <td></td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.User.Full_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_start_string)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Date_end_string)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Leave_type.Leave_type_name)
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td class="td-control">
                                <span class="badge rounded-pill text-bg-secondary">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </span>
                            </td>
                            <td class="td-control">
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Update modal -->
<div class="modal fade" id="leaveModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="leaveModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="leaveForm" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Leave_ID" />
                    <input type="hidden" asp-for="Personnel_ID" />
                    <input type="hidden" asp-for="Message" />
                    <input type="hidden" asp-for="Approver_1" />
                    <input type="hidden" asp-for="Date_approved_1" />
                    <input type="hidden" asp-for="Approver_2" />
                    <input type="hidden" asp-for="Date_approved_2" />
                    <input type="hidden" asp-for="Status" />
                    <div class="row mb-3">
                        <div class="col">
                            <p class="mb-0">Name: <span class="fw-semibold" id="empName"></span></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label asp-for="Leave_type_ID" class="form-label"></label><span class="text-danger" title="Required">*</span>
                            <select asp-for="Leave_type_ID" class="form-select" asp-items="ViewBag.LeaveTypes">
                                <option value="" selected disabled>Choose..</option>
                            </select>
                            <span asp-validation-for="Leave_type_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label asp-for="Date_start" class="form-label"></label><span class="text-danger" title="Required">*</span>
                            <input asp-for="Date_start" type="date" class="form-control" />
                            <span asp-validation-for="Date_start" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Date_end" class="form-label"></label><span class="text-danger" title="Required">*</span>
                            <input asp-for="Date_end" type="date" class="form-control" />
                            <span asp-validation-for="Date_end" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" asp-for="Message">Message</label>
                            <p class="mb-0" id="empMessage">-</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="updateComment">Comment</label><span class="text-danger" title="Required">*</span>
                            <textarea class="form-control" name="Comment" id="updateComment" data-val="true" data-val-required="Please state the reason for updating the leave." required></textarea>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <div class="form-group">
                        <a class="btn btn-link" href="javascript:void(0)" data-bs-dismiss="modal">Cancel</a>
                        <a href="javascript:void(0)" class="btn btn-primary" id="modalButton"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Cancel modal -->
<div class="modal fade" id="cancelModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="cancelModalLabel">Are you sure you want to withdraw this leave?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Withdraw">
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-5 text-end">
                            @Html.DisplayNameFor(model => model.User.Full_name)
                        </dt>
                        <dd class="col-sm-7" id="cancel_name">
                        </dd>
                        <dt class="col-sm-5 text-end">
                            @Html.DisplayNameFor(model => model.Leave_type.Leave_type_name)
                        </dt>
                        <dd class="col-sm-7" id="cancel_leave_type_name">
                        </dd>
                        <dt class="col-sm-5 text-end">
                            @Html.DisplayNameFor(model => model.Date_start)
                        </dt>
                        <dd class="col-sm-7" id="cancel_date_start">
                        </dd>
                        <dt class="col-sm-5 text-end">
                            @Html.DisplayNameFor(model => model.Date_end)
                        </dt>
                        <dd class="col-sm-7" id="cancel_date_end">
                        </dd>
                        <dt class="col-sm-5 text-end">
                            @Html.DisplayNameFor(model => model.Message)
                        </dt>
                        <dd class="col-sm-7" id="cancel_message">
                        </dd>
                        <dt class="col-sm-5 text-end">
                            @Html.DisplayNameFor(model => model.Approver_1)
                        </dt>
                        <dd class="col-sm-7" id="cancel_approver_1_name">
                        </dd>
                        <dt class="col-sm-5 text-end">
                            @Html.DisplayNameFor(model => model.Approver_2)
                        </dt>
                        <dd class="col-sm-7" id="cancel_approver_2_name">
                        </dd>
                    </dl>
                    <div class="row">
                        <div class="col">
                            <label for="cancelComment" class="form-label">Reason</label><span class="text-danger" title="Required">*</span>
                            <textarea name="Comment" id="cancelComment" class="form-control" data-val="true" data-val-required="The Reason field is required." required></textarea>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <input type="hidden" name="id" id="cancelID" />
                    <input type="hidden" name="deptId" id="cancelDepartmentID" />
                    <a class="btn btn-link" href="javascript:void(0)" data-bs-dismiss="modal">No</a>
                    <input type="submit" value="Yes, proceed" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Deny modal -->
<div class="modal fade" id="denyModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="denyModalLabel">Deny this leave?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Deny">
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-3 text-end">
                            @Html.DisplayNameFor(model => model.User.Full_name)
                        </dt>
                        <dd class="col-sm-9" id="name">
                        </dd>
                        <dt class="col-sm-3 text-end">
                            @Html.DisplayNameFor(model => model.Leave_type.Leave_type_name)
                        </dt>
                        <dd class="col-sm-9" id="leave_type_name">
                        </dd>
                        <dt class="col-sm-3 text-end">
                            @Html.DisplayNameFor(model => model.Date_start)
                        </dt>
                        <dd class="col-sm-9" id="date_start">
                        </dd>
                        <dt class="col-sm-3 text-end">
                            @Html.DisplayNameFor(model => model.Date_end)
                        </dt>
                        <dd class="col-sm-9" id="date_end">
                        </dd>
                        <dt class="col-sm-3 text-end">
                            @Html.DisplayNameFor(model => model.Message)
                        </dt>
                        <dd class="col-sm-9" id="message">
                        </dd>
                    </dl>
                    <div class="row">
                        <div class="col">
                            <label asp-for="Comment" class="form-label">Reason</label><span class="text-danger" title="Required">*</span>
                            <textarea asp-for="Comment" class="form-control" data-val="true" data-val-required="The Reason field is required." required></textarea>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <input type="hidden" name="id" id="denyID" />
                    <input type="hidden" name="departmentID" id="departmentID" />
                    <a class="btn btn-link" href="javascript:void(0)" data-bs-dismiss="modal">No</a>
                    <input type="submit" value="Yes, proceed" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const tableReinitMap = {
            'pendingTable': initPendingTable,
            'approvedTable': initApprovedTable,
            'deniedTable': initDeniedTable,
            'withdrawnTable': initWithdrawnTable,
        };

        $.extend(true, $.fn.dataTable.defaults, {
            colReorder: {
                columns: ':gt(0)'
            },
            stateSave: true,
            stateSaveParams: function (settings, data) {
                data.search.search = '';
                data.start = 0;
            },
            responsive: true,
            fixedHeader: true,
            layout: {
                topStart: 'pageLength',
                topEnd: {
                    search: {
                        placeholder: 'Search'
                    },
                    buttons: [
                        {
                            extend: 'colvis',
                            text: 'Show/Hide columns',
                            className: 'btn btn-sm btn-secondary-subtle',
                            columns: ':not(.dt-control)', // Exclude control column
                            attr: {
                                title: 'Toggle visibility of table columns'
                            }
                        },
                        {
                            text: 'Restore table <i class="bi bi-arrow-clockwise"></i>',
                            className: 'btn btn-sm btn-secondary',
                            attr: {
                                title: 'Reset table column visibility and order'
                            },
                            action: function (e, dt, node, config) {
                                const tableId = dt.table().node().id;

                                dt.state.clear(); // Clear saved state
                                dt.destroy(); // Destroy DataTable instance

                                // Replace the old table DOM with the original clone
                                const $original = originalTableHTML[tableId].clone();
                                $('#' + tableId).replaceWith($original);

                                // Reinitialize
                                const reinit = tableReinitMap[tableId];
                                if (typeof reinit === 'function') {
                                    reinit();
                                }
                            }
                        }
                    ]
                },
                bottomStart: 'info',
                bottomEnd: 'paging'
            },
            order: [[2, 'desc']]
        });

        $(document).on("click", ".dt-control, .td-control", function () {
            var $tableElement = $(this).closest('table');

            // Only proceed if the table has the "hasChild" class
            if (!$tableElement.hasClass("hasChild")) return;

            var tr = $(this).closest('tr');
            var table = $tableElement.DataTable(); // Get the correct DataTable instance
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
            } else {
                var rowData = row.data();
                var childData = '<table class="table table-bordered table-sm mb-0 w-100">';

                table.columns().every(function (index) {
                    if (!this.visible() && index !== 0) {
                        var header = $(table.column(index).header()).text();
                        childData += `
                            <tr>
                                <th class="px-2 text-nowrap" style="width:2%;">${header}</th>
                                <td class="px-2">${rowData[index] ? rowData[index] : '<span class="text-secondary">-</span>'}</td>
                            </tr>`;
                    }
                });

                childData += '</table>';

                row.child(childData || '<em>No row child data</em>').show();
                tr.addClass('shown');
            }
        });
        
        function initPendingTable() {
            $("#pendingTable").DataTable({
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-control',
                        orderable: false,
                        defaultContent: '',
                        width: '20px'
                    },
                    {
                        targets: [5,8],
                        visible: false,
                        searchable: true
                    },
                    {
                        targets: 9,
                        searchable: false,
                        orderable: false
                    }
                ]
            });
        }
        
        function initApprovedTable() {
            $("#approvedTable").DataTable({
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-control',
                        orderable: false,
                        defaultContent: '',
                        width: '20px'
                    },
                    {
                        targets: [5,7,8,9,10,11],
                        visible: false,
                        searchable: true
                    }
                ]
            });
        }
        
        function initDeniedTable() {
            $("#deniedTable").DataTable({
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-control',
                        orderable: false,
                        defaultContent: '',
                        width: '20px'
                    },
                    {
                        targets: [5,8],
                        visible: false,
                        searchable: true
                    }
                ]
            });
        }
        
        function initWithdrawnTable() {
            $("#withdrawnTable").DataTable({
                order: [[1, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-control',
                        orderable: false,
                        defaultContent: '',
                        width: '20px'
                    },
                    {
                        targets: 5,
                        visible: false,
                        searchable: false
                    }
                ]
            });
        }

        const originalTableHTML = {}; // Use for cloning original table DOM

        $(document).ready(function () {
            // Cache original table HTML for each table in the map
            Object.keys(tableReinitMap).forEach(id => {
                originalTableHTML[id] = $('#' + id).clone(); // Deep copy
            });

            // And then initialize all tables
            Object.values(tableReinitMap).forEach(initFn => {
                if (typeof initFn === 'function') {
                    initFn();
                }
            });

            $('[data-bs-toggle="tooltip"]').tooltip();

            var tabs = document.getElementsByClassName('nav nav-tabs')

            // Selecting all nav tabs and showing the first tab open
            for (var i = 0; i < tabs.length; i++) {
                var firstEl = tabs[i].querySelector('li:first-child button')
                if (firstEl == null) {
                    continue
                }
                var tab = new bootstrap.Tab(firstEl)
                tab.show()
            }

            $("#Date_start").on("click", function () {
                $(this)[0].showPicker();
            });

            $("#Date_start").on("change", function () {
                let startDateVal = new Date($(this).val());
                let endDate = $("#Date_end").val();

                if (endDate) {
                    let endDateVal = new Date(endDate);
                    if (endDateVal < startDateVal) {
                        $(this)
                            .closest("form")
                            .validate()
                            .showErrors({
                                "Date_start": "Start date cannot be later than the end date."
                            });
                        $(this).val("");
                    }
                } else {
                    $(this).blur();
                    $("#Date_end").focus();
                    $("#Date_end")[0].showPicker();
                }
            });

            $("#Date_end").on("click", function () {
                $(this)[0].showPicker();
            });

            $("#Date_end").on("change", function () {
                let endDateVal = new Date($(this).val());
                let startDate = $("#Date_start").val();

                if (startDate) {
                    let startDateVal = new Date(startDate);
                    if (endDateVal < startDateVal) {
                        $(this)
                            .closest("form")
                            .validate()
                            .showErrors({
                                "Date_end": "End date cannot be earlier than the start date."
                            });
                        $(this).val("");
                    }
                }
            });
        });

        $("#departmentId").on("change", function() {
            $("#changeDepartment").submit();
        });

        function addLeave() {
            $(".modal-title").text("Add Leave");

            $("#modalButton").text("Create");

            $("#leaveForm").attr("action", "/Leave/Add");

            clearModal();

            // Show the modal
            $("#leaveModal").modal("show");
        }

        function updateLeave(id,departmentId) {
            clearModal();

            $.ajax({
                url: "/Leave/GetLeave",
                type: "POST",
                data: {id: id},
                success: function (data) {
                    console.log(data);
                    // Iterate over the properties of the data object and set the corresponding form field values
                    $.each(data, function (key, value) {
                        var elementId = key.charAt(0).toUpperCase() + key.slice(1); // Capitalize the first letter

                        if (key == "name" || key == "message" && value != null) {
                            $("#emp" + elementId).text(value);
                        } else {
                            $("#" + elementId).val(value);
                        }
                    });

                    // Set the action attribute of the form
                    $("#leaveForm").attr("action", "/Leave/Update/" + departmentId);
                    $("#leaveModalLabel").text("Update leave");
                    $("#modalButton").text("Update");

                    // Show the modal
                    $("#leaveModal").modal("show");
                },
                error: function (response) {
                    console.error("Error:", response.status, response.responseJSON.message);
                    alert("Error: " + response.responseJSON.message);
                }
            });
        };

        function denyLeave(id) {
            $.ajax({
                url: "/Leave/GetLeave",
                type: "POST",
                data: {id: id},
                success: function (data) {
                    // Iterate over the properties of the data object and set the corresponding form field values
                    $.each(data, function (key, value) {
                        var $element = $("#" + key);
                        if ($element.length) {
                            if (key == "date") {
                                $element.text(formatDate(value));
                            } else {
                                $element.text(value);
                            }
                        }
                    });

                    $("#denyID").val(data["leave_ID"]);
                    $("#departmentID").val($("#departmentId").val());

                    // Show the modal
                    $("#denyModal").modal("show");
                },
                error: function (response) {
                    console.error("Error:", response.status, response.responseJSON.message);
                    alert("Error: " + response.responseJSON.message);
                }
            });
        }

        function cancelLeave(id) {
            $.ajax({
                url: "/Leave/GetLeave",
                type: "POST",
                data: {id: id},
                success: function (data) {
                    // Iterate over the properties of the data object and set the corresponding form field values
                    $.each(data, function (key, value) {
                        var $element = $("#cancel_" + key);
                        if ($element.length) {
                            if (key == "date") {
                                $element.text(formatDate(value));
                            } else {
                                $element.text(value);
                            }
                        }
                    });

                    $("#cancelID").val(data["leave_ID"]);
                    $("#cancelDepartmentID").val($("#departmentId").val());

                    // Show the modal
                    $("#cancelModal").modal("show");
                },
                error: function (response) {
                    console.error("Error:", response.status, response.responseJSON.message);
                    alert("Error: " + response.responseJSON.message);
                }
            });
        }

        $("#modalButton").on("click", function() {
            $("#leaveForm").submit();
        });

        function clearModal() {
            $('input[type="text"]').val('');
            $('input[type="date"]').val('');
            $("#empName").text('');
            $("#empMessage").text('-');
            // $('select').prop('selectedIndex', "");

            $(".field-validation-error").text("");
        }

        function formatDate(dateString) {
            var date = new Date(dateString);
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();
            return year + "-" + month + "-" + day; // Format: YYYY/MM/DD
        }
    </script>
}
